[Unit]
Description=Lunremote Server Daemon
Requires=display-manager.service
After=display-manager.service

[Service]
Type=simple
ExecStart=/opt/lunremote/lunremoted.sh
ExecStop=/bin/pkill -P $MAINPID
PIDFile=/run/lunremoted.pid
Restart=always
RestartSec=200ms

[Install]
WantedBy=graphical.target