Package: lunremote
Version: 0.0.0
Section: x11
Priority: optional
Architecture: amd64
Installed-Size: 1024
Depends: libxcb-xinerama0
Homepage: lunremote.com
Maintainer: Lunremote <info@lunremote.com>
Description: Low-lantency access to remote desktop
 Lunremote allows one to view remotely and interact with real
 screen (i.e. a display corresponding to a physical monitor,
 keyboard, and mouse) for Linux, Windows and macOS. Lunremote is
 optimized for low lantency and it's currently the fastest tool
 to remotly controlling desktop.
